.hero{
  background-image: url('/images/background-desktop.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
   overflow: none;
}

.image-container {
  /* position: relative;
  width: 100%; */
  color: white;
}

.background{
  width: 100%;
  height: 100%;
  objectFit: "cover";
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.upload-box {
  display: block;
  padding: 2rem;
  border: 2px dashed #aaa;
  border-radius: 10px;
  cursor: pointer;
  background: rgba(255,255,255,0.05);
  color: #ccc;
}
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
  color: #ddd;
}

.form-group input {
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.form-group input::placeholder {
  color: #aaa;
}

.submit-btn {
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  background-color: #ff6a4d;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-btn:hover {
  background-color: #ff5433;
}
